<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Activities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Activities in Galway</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    There are many activities that you can partake in during your stay in this portside city.
    Some of these activities are detailed below in addition to a map for your ease to locate where
    each activity can be found!
  </ion-card-content>

</ion-card>
</ion-content>
