<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Nightlife</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
  <ion-card-header>
    <ion-card-title>Nightlife in Galway</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Galway's nightlife is neverending with all the pubs and bars open everywhere until 2am, you will always find a place to go and enjoy a pint!
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Roisin Dubh</ion-card-title>
    <img src="assets/roisin.png" alt="roisinDubh-Image">
  </ion-card-header>
  <ion-card-content>
    Roisin Dubh is a renown pub in Galway for its live performances and good atmosphere. Highly reccommended to visit if your out and about at night!
  </ion-card-content>
  <!--Button to take the user to the website of Kingfisher-->
  <ion-button fill="clear" href="https://roisindubh.net">CLICK FOR MORE</ion-button>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>DNA Club</ion-card-title>
    <img src="assets/dna.png" alt="DNA-Image">
  </ion-card-header>
  <ion-card-content>
    DNA is one of the biggest nightclubs in Galway. With 2 dance floors and a smoking area on the roof you will always find a place to go. The prices aren't bad either!
  </ion-card-content>
  <!--Button to take the user to the website of Kingfisher-->
  <ion-button fill="clear" href="https://www.dnagalway.com/the-club/">CLICK FOR MORE</ion-button>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>The Skeff</ion-card-title>
    <img src="assets/skeff.png" alt="Skeff-Image">
  </ion-card-header>
  <ion-card-content>
    The Skeff is a relaxing and a nice change of pace bar & restaurant in the heart of Galway. They occasionally hold live music aswell, there is a dress code and its strictly over 21's.
    There is also an attached hotel that you can stay at if you wish to spend more time in Galway.
  </ion-card-content>
  <!--Button to take the user to the website of Kingfisher-->
  <ion-button fill="clear" href="https://www.theskeff.ie">CLICK FOR MORE</ion-button>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Coyotes</ion-card-title>
    <img src="assets/coyotes.png" alt="coyotes-Image">
  </ion-card-header>
  <ion-card-content>
    Coyotes is another great pub you can find on Shop Street. It could also be a nightclub depending on how you see it. It is a great place to go to party the night away!
  </ion-card-content>
  <!--Button to take the user to the website of Kingfisher-->
  <ion-button fill="clear" href="http://coyotes.ie">CLICK FOR MORE</ion-button>
</ion-card>
</ion-content>
