<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Food & Restaurants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
  <ion-card-header>
    <ion-card-title>Foods and Restaurants</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    You have plenty of choices regarding food and restaurants where you could dine in Galway. Each of them offering different items. One particular meal you can find almost anywhere
    is an Irish Breakfast. It is a staple of the irish community. Below are a few reccommendations of locations where you can eat.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>McDonald's Shop Street</ion-card-title>
    <img src="assets/mcd.png" alt="MCDonalds-Image">
  </ion-card-header>
  <ion-card-content>
    You already know it, and you already love it. Its McDonalds. located on shop street if you get hungry during your shopping its a safe bet that you'll find what you are looking 
    for here at an affordable price!
  </ion-card-content>
  <!--Button to take the user to the website of Kingfisher-->
  <ion-button fill="clear" href="https://www.mcdonalds.com/ie/en-ie/location/ireland/36-shop-street/7009.html">CLICK FOR MORE</ion-button>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Tomodachi Sushi Bar</ion-card-title>
    <img src="assets/tomodachi.png" alt="tomodachi-Image">
  </ion-card-header>
  <ion-card-content>
    The Tomodachi Sushi Bar is located on the entrance of Shop Street from Eyre Square. If you're in the mood for a bit of sushi then this is the place to go! 
  </ion-card-content>
  <!--Button to take the user to the website of Kingfisher-->
  <ion-button fill="clear" href="http://tomodachi.ie">CLICK FOR MORE</ion-button>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>The Charcoal Grill</ion-card-title>
    <img src="assets/grill.png" alt="grill-Image">
  </ion-card-header>
  <ion-card-content>
    The Charcoal Grill is a great restaurant if you are looking for some filling food at a reasonable price. You get a full plate of you decide to order a meal and they do not hold back!
  </ion-card-content>
  <!--Button to take the user to the website of Kingfisher-->
  <ion-button fill="clear" href="https://charcoalgrillgalway.com">CLICK FOR MORE</ion-button>
</ion-card>
</ion-content>
